body {
  background-color: rgb(246, 250, 246);
}
p {
  height: 15px;
  margin-top: 5px;
}.form {
  margin-top: 100px;
  margin-left: 520px;
  background-color: rgb(140, 195, 205);
  width: 400px;
  height: 300px;
}
.info {
  height: 230px;
}
.name {
  width: 130px;
  float: left;
  text-align: left;
  margin-left: 50px;
  margin-top: 10px;
}
form {
  margin-right: 70px;
  width: 150px;
  float: right;
  margin-top: 10px;
}
input {
height: 16px;
margin: 5px;

}
select {
  height: 17px;
  margin-left: 6px;
  margin-top: 7px;
  margin-bottom: 2px;
}
.end {
  margin-top: 20px;
  height: 20px;
  width: 200px;
  margin-left: 100px;
}
button {
  float: right;
  margin-top: 30px;
  height: 25px;
  background-color: white;
}
.checkbox {
  margin-top: 35px;
}
.end {
  width: 200px;
  margin-top: 2px;
}